<!DOCTYPE HTML>
<html>

<head>
<title>GifCombiner</title>
<meta charset="utf-8">
<link rel = "stylesheet" type = "text/css" href= "{{ url_for('static', filename='style.css') }}" >


<style>
body {
     /* Background pattern courtesy of subtlepatterns.com */
    background-image: url("{{ url_for('static', filename='confectionary.png') }}");
}
</style>


</head>

<body>
<div id="title">
<h1>Gif-Combiner</h1>
Combines multiple gifs into one single gif for your viewing pleasure.
</div>

<div id="mainform">
<strong>Input Imgur album ID or URL:</strong>
<br />
<input name="album_id" class="inputclass" type="text">
<button class="inputclass" name="submit_request">Submit!</button>
<br />
<span id="imgur_url"></span>

<script type="text/javascript">

var httpPostReqr = new XMLHttpRequest();
httpPostReqr.onreadystatechange = insertURL;
document.getElementsByName("submit_request")[0].onclick = makeRequest;

function makeRequest() {
    httpPostReqr.open('POST', '/API');
    httpPostReqr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    var request_body = "input_type=IMGUR&output_type=IMGUR&album_id=";
    var album_id = document.getElementsByName("album_id")[0].value;
    album_id = album_id.split('/').pop();
    request_body = request_body + album_id;
    httpPostReqr.send(request_body);
}

function insertURL() {
    if(httpPostReqr.readyState == 4) {
        var build_str;
        var result_str = httpPostReqr.responseText;
        console.log(result_str);
        if(result_str.indexOf('.gif')>0) {
            build_str = "Combined gif: <br />";
            build_str += "<a target='_blank' href='";
            build_str += result_str;
            build_str += "'>";
            build_str += result_str;
            build_str += "</a>";
        } else {
            build_str = result_str;
        }
        document.getElementById("imgur_url").innerHTML = build_str;
    }
}


</script>

</div>
<a href="https://github.com/breadknock/gifcombiner"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

</body>
</html>
