#title {

    font-size: 150%;
    font-family: serif;
    text-align: center;
    line-height: 120%;
}

#title h1 {
    font-size: 300%;
}

#mainform {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
    text-align:center;
    font-size:180%;
    font-family: sans-serif;
line-height: 150%;
}

.inputclass {
    font-size: 90%;
    line-height: 150%;
}
